asgiref==3.9.1
Babel==2.16.0
# backports.zoneinfo==0.2.1  # Not needed for Python 3.11+
beautifulsoup4==4.13.4
Django==5.2.4
django-phonenumber-field==8.1.0
django-tinymce==4.1.0
mysqlclient==2.2.7
phonenumbers==9.0.10
pip-autoremove==0.10.0
python-decouple==3.8
pytz==2025.2
soupsieve==2.6
sqlparse==0.5.2
typing_extensions==4.12.2
XlsxWriter==3.2.0
