{% extends "tanulmanyi/home.html" %}
{% block title %}
    Szakdolgozat-repozitórium
{% endblock %}
{% block content %}
<h1>Szakdolgozat-repozitórium</h1>
<hr>
{% include "szakdolgozat/_kereses.html" %}
<nav aria-label="szakdolgozatlista">
    {% if paginator.count > 0 %}
        <h2>Szakdolgozatok</h2>
        {% include "szakdolgozat/_lapozo.html" %}
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>
                        Hallgató
                    </th>
                    <th>
                        Cím
                    </th>
                    <th>
                        Évszám
                    </th>
                    <th>
                        Letöltés
                    </th>
                </tr>
            </thead>
            {% for hkt in paginatorpage %}
                <tr>
                    <td>
                        {{ hkt.hallgato_kepzes.hallgato.vezeteknev }} {{ hkt.hallgato_kepzes.hallgato.keresztnev }}
                    </td>
                    <td>
                        {{ hkt.tema.cim }}
                    </td>
                    <td>
                        {{ hkt.veg.year }}
                    </td>
                    <td>
                        {% if hkt.szakdolgozat_link %}<a href="{{ hkt.szakdolgozat_link }}" target="_blank">Letöltés</a>{% else %}Nem elérhető{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% include "szakdolgozat/_lapozo.html" %}
    {% else %}
        <p>Nincs a keresésnek megfelelő szakdolgozat.</p>
    {% endif %}
</nav>
{% endblock %}