{% extends "tanulmanyi/home.html" %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        <p>Sajnálom, a felhasználói név vagy a jelszó érvénytelen!</p>
        </div>
    {% endif %}

    <form action="/accounts/auth/" method="post">{% csrf_token %}
        <label for="username">Felhasználói név:</label>
        <input type="text" name="username" value="" id="username">
        <label for="password">Jelszó:</label>
        <input type="password" name="password" value="" id="password">
        <input type="submit" value="Bejelentkezés">
    </form>

{% endblock %}
